.blog {
  display: grid;
  background: url("image/blog.jfif") no-repeat center;
  height: 180vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
}

img {
  height: 400px;
  width: 400px;
  border: 5px;
  border-style: solid;
  border-radius: 20px;
  color: rgb(254, 245, 245);
}

.grid-container {
  display: grid;
  grid-gap: 50px;
  width: 1200px;
  height: 1000px;
  margin-top: 50px;
  grid-template-areas:
    "ring akobo monatan"
    "lekki olo abeokuta"
    "social social social";
}

.blog .grid-container h2 {
  color: rgb(146, 204, 22);
  text-align: center;
  width: 410px;
}

.ring {
  grid-area: ring;
}
.akobo {
  grid-area: akobo;
}
.monatan {
  grid-area: monatan;
}
.lekki {
  grid-area: lekki;
}
.olo {
  grid-area: olo;
}
.abeokuta {
  grid-area: abeokuta;
}
.social {
  grid-area: social;
  background-color: aliceblue;
  border-style: solid;
  border-radius: 20px;
  color: rgb(26, 179, 77);
}

.social h2 {
  color: black;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .blog {
    display: grid;
    background: url("image/blog.jfif") no-repeat center;
    height: 300vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
    justify-content: center;
  }
  img {
    height: 300px;
    width: 350px;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    color: rgb(243, 245, 243);
  }

  .grid-container {
    display: grid;
    grid-gap: 20px;
    width: 350px;
    height: 1300px;

    grid-template-areas:
      "ring"
      "akobo"
      "monatan "
      "lekki"
      "olo"
      "abeokuta"
      "social";
  }
  .blog .grid-container h2 {
    font-size: 19px;
    width: 350px;
    justify-content: center;
  }
  .sharethis-inline-share-buttons {
    height: 80%;
    width: 80%;
    border-radius: none;
    box-sizing: auto;
    margin-top: 10px;
    margin-left: 20px;
  }

  .social h2 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .blog {
    height: 340vh;
  }
}
